<!DOCTYPE html>
<html>
<head>
    <title>Formulario TUAS</title>
</head>
<body>
    <h1>Formulario de TUAS</h1>
    <form method="post">
        <input name="no_vuelo" placeholder="Número de vuelo"><br>
        <input name="agente_gi" placeholder="GI"><br>
        <input name="matricula" placeholder="Matrícula"><br>
        <input name="capitan" placeholder="Nombre del Capitán"><br>
        <input name="etd" placeholder="ETD"><br>
        <input name="puerta" placeholder="Puerta de embarque"><br>
        <input name="mx" placeholder="MX"><br>
        <input name="uk" placeholder="UK"><br>
        <input name="fm" placeholder="FM"><br>
        <input name="dip" placeholder="DIP"><br>
        <input name="inf_mx" placeholder="INF MX"><br>
        <input name="inf_ext" placeholder="INF EXT"><br>
        <input name="cnx_mx" placeholder="CNX MX"><br>
        <input name="cnx_ext" placeholder="CNX EXT"><br>
        <input name="total" placeholder="Total PAX"><br>
        <input name="wch_llegada" placeholder="WCH Llegada"><br>
        <input name="wch_salida" placeholder="WCH Salida"><br>
        <input name="cobs" placeholder="COBS Salida"><br><br>
        <button type="submit">Generar Reporte</button>
    </form>
</body>
</html>
